<div class="container-fluid px-4">
    <h1 class="mt-4">Contact</h1>
    <div class="row">
      <div class="col-xl-12">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Contact Us
          </div>
          <br>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h5>Email: email@QodeHR.com</h3>
                  <h5>Phone: +(91) 0123456789</h3>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>