<table>
    <tr>
      <th>User id</th>
      <td> <%= id %></td>
    </tr>
    <tr>
      <th>First name</th>
      <td> <%= firstName %></td>
    </tr>
    <tr>
      <th>Last name</th>
      <td> <%= lastName %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td> <%= email %></td>
    </tr>
    <table>