<!DOCTYPE html>
<html lang="en">
<head>
    <title>QodeHR Login</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login-style.css" type="text/css">
    <!--Stylesheet-->
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        
    </div>

    <form action="/login" method="post">
        <h3>QodeHR</h3>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Email" id="username">
        <span > <%= usernameError %>
        </span>
        

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password">
        <span > <%= passwordError %>
        </span>
        
        <button type="submit">Log In</button>
        <a href="/register">Register</a>
        
    </form>
</body>
</html>
