<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="register-style.css">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div> 
    </div>

    <form action="Register" method="post">
        <h3>QodeHR Register</h3>
        <div class="flexing">
        <div class="register-part1">
        <label for="firstname">First Name</label>
        <input type="text" name="firstName" placeholder="first name" id="username" required>
        <span > </span>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastName" placeholder="last name" id="username" required>
        <span > </span>
        <label for="date">DOB</label>
        <input type="date" name="dateOfBirth" placeholder="DOB" id="username" required>
        <span > </span>
    </div>
    <div class="register-part2">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password" id="username" required>
        <span > </span>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username" id="username" required>
        <span > </span>
        <label for="email">email</label>
        <input type="email" name="email" placeholder="Email" id="username" required>
        <span > </span>
        

    </div>
    <div class="task-input">
        
      </div>
</div>

    

        <button>Register</button>
        <%= message %>
       
        
       
    </form>
</body>
</html>


        